@import './abstracts/_abstracts-dir';
.tttme-App {
  #the-list{
    div {
      height: 100px;
      padding: 15px;
    }
  }
  .description{
    overflow-y: auto;
  }
  .tttme-button-link{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    span{
      color: $primary-color;
      cursor: pointer;
      padding: 5px;
      border: 1px solid;
      line-height: 1.1;
      &:hover{
        color: $primary-color-hover;
      }
    }
  }
  .heading-title{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    .on-hover{
      visibility: hidden;
      opacity: 0;
      transition: 0.3s all;
      color: $primary-color;
      cursor: pointer;
    }
  }
  tbody#the-list {
    textarea{
      width: 100%;
      height: 100%;
      padding: 15px;
    }
  }
  th{
    &:hover{
    .heading-title{
      .on-hover{
          visibility: visible;
          opacity: 1;
          color: $primary-color-hover;
        }
      }
    }
  }
  .post-pagination{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    span,
    a{
      border: 1px solid;
      display: inline-flex;
      padding: 5px 10px;
      transition: 0.3s all;
      &:hover{
        color: #fff;
        background: $primary-color-hover;
      }
    }
    span{
      color: #fff;
      background: $primary-color-hover;
    }
  }
}

