@import './abstracts/_abstracts-dir';
@import './licence';

body {
	
	&.media_page_tsmlt-media-tools{
		#wpbody-content {
			float: inherit;
			height: 100%;
		}
		#TB_title{
			height: 0px;
			border: 0;
		}
		#TB_closeWindowButton {
			left: auto;
			right: -30px;
			color: #f0f0f1;
		}
		.tb-close-icon {
			color: #fff !important;
			&:hover::after {
				outline: 2px solid;
				outline-offset: -4px;
				border-radius: 4px;
			}
		}
	}
	
	.tsmlt-is-submenu{
		.dashicons{
			//margin-left: -5px;
			font-size: 14px;
			margin-right: 2px;
			margin-top: 2px;
		}
	}
	
	span.ant-checkbox-inner {
		border: 1px solid rgb(22 119 255 / 74%) !important; //rgb(141 183 242);
	}
	
	.ant-checkbox-checked {
		span.ant-checkbox-inner {
			border-color: #1677ff !important;
		}
	}
	.rubbish-scan-directory-modal{
		.ant-spin-dot-item {
			background-color: #fff !important;
		}
	}
	.progressbar-height{
		.ant-progress-bg {
			height: 40px !important;
		}
	}
	
	.csv-export-import-btn-wrapper{
		.ant-spin-dot-item {
			background-color: #fff;
		}
		
	}
	
	.plugin-list-wrapper.ant-card {
		align-self: flex-start;
		max-width: calc((100% - calc(15px * 1)) / 2);
		flex: 0 0 calc((100% - calc(15px * 1)) / 2);
		@media (min-width: 1650px) {
			max-width: calc((100% - calc(15px * 2)) / 3);
			flex: 0 0 calc((100% - calc(15px * 2)) / 3);
		}
	}
	
}
