@import './abstracts/_abstracts-dir';
.tttme-App {
  #the-list{
    div {
      height: 100px;
      padding: 10px;
    }
  }
  .description{
    overflow-y: auto;
  }
  .tttme-button-link{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    span{
      color: $primary-color;
      cursor: pointer;
      padding: 7px 0px;
      border: 1px solid;
      line-height: 1.1;
      font-size: 12px;
      width: 90px;
      text-align: center;
      box-sizing: border-box;
      &:hover{
        color: $primary-color-hover;
      }
    }
    .btn-active {
      background: var(--wp-admin-theme-color-darker-10);
      color: #FFF;
      &:hover{
        color: #FFF;
      }
    }
  }
  .heading-title{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 10px;
    margin-bottom: 10px;
    .on-hover{
      visibility: hidden;
      opacity: 0;
      transition: 0.3s all;
      color: $primary-color;
      cursor: pointer;
    }
  }
  tbody#the-list {
    textarea{
      width: 100%;
      height: 100%;
      padding: 15px;
    }
  }
  th{
    &:hover{
    .heading-title{
      .on-hover{
          visibility: visible;
          opacity: 1;
          color: $primary-color-hover;
        }
      }
    }
  }
  .post-pagination{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: 160px;
    background: #fff;
    padding: 15px 20px;
    z-index: 9;
    border-top: 1px solid #ddd;
  }
}

.folded #wpcontent .tttme-App,
.folded #wpfooter .tttme-App{
  .post-pagination{
    margin-left: 36px;
  }
}

.ant-modal-title:first-letter {
  text-transform: capitalize;
}